.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/dotnet-tutorial/v16/.suo
linq/linq.sln
linq/.vs/linq/DesignTimeBuild/.dtbcache
linq/.vs/linq/v16/.suo
linq/.vs/linq/v16/Server/sqlite3/db.lock
linq/.vs/linq/v16/Server/sqlite3/storage.ide
rest-sample/rest-sample.sln
rest-sample/.vs/rest-sample/DesignTimeBuild/.dtbcache
rest-sample/.vs/rest-sample/v16/.suo
rest-sample/.vs/rest-sample/v16/Server/sqlite3/db.lock
rest-sample/.vs/rest-sample/v16/Server/sqlite3/storage.ide
telepropmter/telepropmter.sln
telepropmter/.vs/telepropmter/DesignTimeBuild/.dtbcache
telepropmter/.vs/telepropmter/v16/.suo
telepropmter/.vs/telepropmter/v16/Server/sqlite3/db.lock
telepropmter/.vs/telepropmter/v16/Server/sqlite3/storage.ide
